    .section{
      background-size: contain;

  	}
  	.slide{
      background-size:  cover;
      background-repeat: no-repeat;
      background-position: center center;

  	}

		/*#section1 img{
			left: 130%;
			position:relative;
		}*/
		/*#section1 p{
			display:none;
		}*/
		#section2 .intro{
			left: -130%;
			position:relative;
		}
    /*Adding background for the slides
  	* --------------------------------------- */
  	/*#slide1{
  		background-image: url(images/bg4.jpg);
  		padding: 6% 0 0 0;
  	}
  	#slide2{
  		background-image: url(images/bg5.jpg);
  		padding: 6% 0 0 0;
  	}*/
		body{
			margin-top: 100px;
			font-family: 'Trebuchet MS', serif;
			line-height: 1.6
		}
		/*.container{
			width: 800px;
			margin: 0 auto;
		}*/



		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
			padding: 2%;
		}

		.tab-content.current{
			display: inherit;
		}

		.wamco_slide{
			padding-top:20%;
		}

		.wamco_slide h1{
			font-size: 3vw;
			font-weight: 900;
			color:white;
			/*text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;*/
		}

		.wamco_slide h2{
      font-size: 2vw;
			color:white;
			/*text-shadow: -1px 0 black, 0 3px black, 1px 0 black, 0 -1px black;*/

		}

    .wamco_navigation{
      background-color: rgba(255, 255, 255, 0.98);
      border-top-color: rgb(17, 159, 169);
      border-top-width:5px;
      border-style:solid;

    }
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color:#119fa9;


}



    .wamco-headline{
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 20px;
      font-weight: 900;
    }

    .wamco-brand{
      margin-top:0;
      font-weight: 900;
    }
    .wamco-bold{
      font-weight: 600;
    }
    .wamco-navbar{
      font-weight: 600;
      font-size: 16px;

    }

    img.grayscale:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.wamco-box > .icon { text-align: center; position: relative; }
.wamco-box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 150px; height: 150px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #63B76C; vertical-align: middle; }
.wamco-box > .icon:hover > .image { background: #333; }
.wamco-box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.wamco-box > .icon:hover > .image > i { color: white !important; }
.wamco-box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.wamco-box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.wamco-box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.wamco-box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.wamco-box > .icon:hover > .info > h3.title, .wamco-box > .icon:hover > .info > p, .wamco-box > .icon:hover > .info > .more > a { color: #222; }
.wamco-box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.wamco-box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.wamco-box .space { height: 30px; }
