@-moz-document url-prefix() {
    fieldset {
        display: table-cell; } }

.highlight {
    background: #fff3b4;
    color: #222222; }

img {
    max-width: 100%; }

.post-regular {
    background: #ffffff; }

.post {
    box-shadow: 0 0 4px #999;
    margin-bottom: 30px; }
.post .post-content {
    padding: 15px 15px 25px 15px; }
.post .post-image {
    width: 100%; }

.post-image {
    width: 100%; }

.post-body {
    background: #fff;
    box-shadow: 0 0 6px #999; }
.post-body .post-content {
    padding: 25px 25px 25px 25px; }

.posts-content {
    background: #fff; }

.related-list {
    margin-bottom: 30px; }
.related-list .related-item .related-img img {
    max-width: 100%; }
.related-list .related-item .related-link {
    padding-top: 8px; }
.related-list .related-item .related-link a {
    color: #000; }

.post-title {
    font-size: 18px;
}
