/*! Place your custom styles here */

.bar--transparent:not(.pos-fixed) .menu-horizontal > li > a, .bar--transparent:not(.pos-fixed) .menu-horizontal > li > span { color: RGBA(101, 198, 187, 1.0); }
.bar--transparent:not(.pos-fixed) .btn:not([class*='primary']) .btn__text {
    color: RGBA(101, 198, 187, 1.0);
}

/*.bar--transparent {
    background:RGBA(101, 198, 187, 1.0);*/
/*}*/


.bar--transparent:not(.pos-fixed) .btn:not([class*='primary']) {
    border-color: RGBA(27, 163, 156, 1.0);
}
